.contact-banner{
    background-image: url('../img/contact/contact-bn1.png');
    background-size: contain;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-title {
    color: #fff;
    font-size: 3rem;
}
.contact-link {
    font-size: 1.5rem;
    color: #fff;
    

}   
.contact-container{
    margin-top: 50px;
    width: 1400px;
    margin: 0 auto;
}
.contact-top{
    display: flex;
    justify-content: center;
}
.contact-top__layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f7f7f7;
    padding: 8px;
}
.contact-info{
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.contact-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contact-info >div,
.contact-content{
    font-weight: 600;
    color: rgb(129, 126, 126);
    font-size: 1.5rem;
    line-height: 1.5;

}
.contact-email{
    font-size: 3rem;
}
.contact-info > p:nth-child(2){
    font-size: 1.4rem;
}


.contact-info__icon i{
    margin: 0 8px;
    padding: 16px;
    border: 1px solid #000;
    border-radius:50%;
    color: #000;
    cursor: pointer;

}
.contact-info__icon i:hover{
    background-color: var(--hover-color);
    color: var(--white-color)
}
.contact-form h1,
.contact-info-border{
    border-bottom: 2px solid #ff871d;
    display: inline;
    width: fit-content;
    padding: 12px 0;
}

.contact-form{
    display: flex;
    flex-direction: column;
    margin: 48px 0;
}
.contact-form h1{
    text-align: center;
    margin: 12px auto;
    font-size:3rem;
}
.contact-form-content{
    margin: 32px 0;
    font-size: 1.5rem;
}
.contact-form-content-top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 24px;
}

.contact-form-content-right input,
.contact-form-content-left input{
    width: 100%;
    height: 60px;
    font-size: 1.5rem;
    padding: 12px;
    border:1px solid #ccc;
}

.contact-form-content-bot textarea{
    width: 100%;
    resize: none;
    font-size: 1.5rem;
    padding: 12px;
    border-color: #ccc;

}
.contact-form-content-item p{
  display: inline-block;
}
.contact-form-content-item span{
    color: red;
    font-size: 1.5rem;
}

.contact-form-content-btn{
    text-align: center;
    padding: 12px;

}
.contact-form-content-btn button{
    width: 250px;
    height: 70px;
    font-size: 1.5rem;
    color: var(--white-color);
    background-color: var(--text-color);
    letter-spacing: 4px;
    cursor: pointer;
}
.contact-form-content-btn button:hover{
    background-color: var(--hover-color);
    border: 0;
}


.contact-instagram-list-item{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
}
.contact-instagram-list-item img{
    width: 100%;
    transition: all 0.6s ease;
    object-fit: cover;
}
.contact-instagram-list-item-hover{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.6);
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease;

}
.contact-instagram-list-item:hover img {
    transform: scale(1.2);
}

.contact-instagram-list-item:hover .contact-instagram-list-item-hover{
 visibility: visible;
 opacity: 1;

}
.user-icon{
    text-decoration: none;
    color: #000;
}